        <div class="player-container">
            <div class="player-item" ng-repeat="item in $ctrl.vttEN" ng-click="$ctrl.selectItem( $index, item )" ng-class="{'player-item-backlight': $ctrl.selectedItem === item }"> 
                <div class="player-subitem-2"> {{item.textTR}}</div> 
                <div class="player-subitem-1" ng-class="{'player-show-text-src' : item.isTextSrcVisible,  'player-hide-text' : !item.isTextSrcVisible }"> {{item.text}} </div> 
                <div ng-if="$ctrl.selectedItem === item" id="progressBar" class="player-progress"></div>
                <div ng-if="$ctrl.selectedItem !== item" class="player-progress-hide"></div>
            </div> 
            <div style="height: 10vh"></div>
        </div>
        <div class="player-btn player-btn-back" ng-click="$ctrl.back()"> <img src="resources/icons/back-arrow.svg" width="100%"> </div>

 